:root {
    --primary: #262b3c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol,
dl {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    cursor: pointer !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-15 {
    font-size: 15px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-24 {
    font-size: 24px !important;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
}

#page-content {
    padding: calc(70px + 24px) calc(24px / 2) 60px calc(24px / 2);
}

/* Header start */

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    background-color: #262b3c;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}


.navbar-brand-box {
    background: #2a3042;
}


.breadcrumb-item>a {
    color: #f6f6f6;
}

.breadcrumb-item.active {
    color: #c3cbe4;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.5rem;
}

/* Header End  */

/* Main Start  */

.page-title-box {
    padding-bottom: 24px;
}

.page-title-box h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px !important;
}

/* First Section */

.card {
    margin-bottom: 24px;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.bg-primary.bg-soft {
    background-color: rgba(85, 110, 230, .25) !important;
}

.profile-user-wid {
    margin-top: -26px !important;
}

.avatar-md {
    height: 4.5rem;
    width: 4.5rem;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title {
    font-size: 15px;
    margin: 0 0 7px 0;
    font-weight: 600;
}


/* Rounde Chart */

.apex-charts {
    min-height: 10px !important;
}

/* Main End */


/* Seconde Section Start  */

/* First */
.bg-primary.bg-soft {
    background-color: rgba(85, 110, 230, .25) !important;
}

/* Seconde */
.verti-timeline {
    margin: 0 10px;
}

.verti-timeline .event-list {
    position: relative;
    padding: 0 0 40px 30px;
}

.verti-timeline .event-list .event-timeline-dot {
    position: absolute;
    left: -9px;
    top: 0;
    z-index: 9;
    font-size: 16px;
}

.bx {
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;
}

.bx-fade-right {
    animation: fade-right 1.5s infinite linear;
}



@keyframes fade-right {

    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        opacity: 0;
    }

}

/* Second Section End  */